html {
    font-size: 100%;
}

body {
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    overflow-x: hidden;
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
}

.button {
    width: var(--button-width);
    min-height: var(--button-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--button-color);
    padding: 0.5rem 1rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
}

.button svg {
    width: 12px;
    height: 8px;
    fill: var(--txt-color);
    transform-origin: center center;
    transition: transform .1s ease;
}

.button svg.--open {
    transform: scaleY(-1);
}

.menu-button {
    box-shadow: -2px -2px 5px 1px #00000050 inset;
}

.dropdown-menu {
    display: none;
    border-top: solid 0.5px #ffffff;
}

.dropdown-menu.--open {
    display: block;
}

.dropdown-menu-button {
    transition: background-color .35s ease;
}

.dropdown-menu-button:hover {
    background-color: var(--button-hover-color);
}

/* diverso per products and projects: main scrollable */
.main {
    display: flex;
    flex-direction: column;
}

.section {
    height: var(--doc-height);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section-wrapper {
    height: calc(var(--doc-height) / 1.35);
    max-width: 80%;
    min-width: 60%;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.section-content {
    height: 100%;
    overflow: hidden;
}

.section-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel {
    position: relative;
    height: inherit;
    display: flex;
    justify-content: center;
}

.carousel-element {
    height: inherit;
    flex-direction: column;
}

.carousel-element.image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.carousel-element.text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.text-description p:not(:first-child) {
    margin-top: 1rem;
}

.carousel-element:not(:first-child) {
    display: none;
}

.carousel-counter {
    display: block;
}

.carousel-counter.--hide {
    display: none;
}

.carousel-counter .index {
    display: none;
}

.carousel-counter .index.--active {
    display: inline;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr)); */
    column-gap: 2rem;
    row-gap: 2rem;
    padding: 2rem;
}

.grid-item {
    position: relative;
    overflow: hidden;
}

.grid-item-image {
    z-index: 1;
    transition: opacity .25s ease-in-out;
}

.grid-item-image img {
    width: 100%;
    position: relative;
    display: block;
    aspect-ratio: 3 / 4;
    object-fit: contain;
}

.grid-item-text {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 2;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.grid-item:hover .grid-item-image {
    opacity: 0;
}

.grid-item:hover .grid-item-text {
    opacity: 1;
}